<div class="container container-card user-card">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-white text-center bg-secondary">
        <div class="card-header">
          <h2>User Details</h2>
        </div>
        <div class="card-body">
          <p><strong>Name: </strong><%= @user.name%></p>
          <p><strong>Email: </strong><%= @user.email%></p>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center mt-4">Accounts</h1>

<div class="container container-card">
  <% @accounts.each do |account| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center border-primary mb-3">
          <div class="card-header">
            <strong>Account No.: </strong><%= account.account_no %>
          </div>
          <div class="card-body">
            <strong>Account Type.: </strong><%= account.account_type %>
            <p><strong>Available Balance.: ₹</strong><%= account.balance %></p>     
          </div>
          <div class="card-footer text-muted">
            <%= link_to "Withdraw", 
              new_user_account_transaction_path(
                user_id: current_user.id, account_id: account.id, tr_action: "debit"
                ), class:"btn btn-primary" %>
            <%= link_to "Deposit", 
              new_user_account_transaction_path(
                user_id: current_user.id, account_id: account.id, tr_action: "credit"
                ), class:"btn btn-success" %>
            <%= link_to "Transaction Details", 
              user_account_transactions_path(
                user_id: current_user.id, account_id: account.id
                ), class:"btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
   
</div>
